body {
  text-align: center;
}

#instructions {
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-columns {
  column-count: 7;
}

.card-img-top {
  object-fit: cover;
}

#questionBox {
  height: 40px;
  width: 300px;
}

#imageDisplay {
  margin: 75px;
}

.card {
  height: 250px;
}

.modal-body {
  text-align: left;
}

.form-inline {
  display: inline-block;
}
