body {
  font-family: sans-serif;
}

#title {
  padding-top: 40px;
  padding-bottom: 20px;
}

#startButton {
  text-align: center;
  margin: auto;
  display: block;
  width: 200px;
  height: 50px;
}

h1 {
  font-size: 80px;
  text-align: center;
}

a:hover {
  text-decoration: none;
}

.versionButton {
  display: inline-block;
  width: 40%;
}

.buttonContainer {
  text-align: center;
  padding-bottom: 100px;
}

#versionHomeButton {
  text-align: center;
  margin: auto;
  display: block;
  margin-top: 20px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
